.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  margin-top: 100px;
  display: flex;
}

.column {
  margin-right: 20px;
  margin-left: 20px;
  height: 475px;
  border: black 1px solid;
  border-radius: 20px;
  flex: 50%;
  text-align: center;
  overflow: hidden;
}

li {
  
  list-style-type: none;
  margin-bottom: 10px;
}

button {
  margin-left: 20px;
}